html {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: rgb(198, 255, 255);
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  min-width: 150px;
  min-height: 50px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: rgb(71, 219, 174);
}

input {
  min-width: 250px;
  min-height: 50px;
  font-size: 1rem;
  border: 2px solid rgb(169, 169, 169);
  border-radius: 10px;
  text-align: center;
}